{{ define "main" }}
  <section>
    {{ range (.Paginate (.Pages.GroupByDate "2006")).PageGroups }}
      {{ if $.Params.groupByYear | default ($.Site.Params.list.groupByYear | default true) }}
        <h2
          class="mt-12 text-2xl font-bold text-neutral-700 first:mt-8 dark:text-neutral-300"
        >
          {{ .Key }}
        </h2>
        <hr class="w-36 border-dotted border-neutral-400" />
      {{ end }}
      {{ range .Pages }}
        {{ partial "bookmark-link.html" . }}
      {{ end }}
    {{ end }}

    {{ if gt .Paginator.TotalPages 1 }}
      <ul class="mt-6 flex flex-row justify-center">
        {{ .Scratch.Set "paginator.ellipsed" false }}
        {{ if $.Paginator.HasPrev }}
          <li>
            <a
              href="{{ $.Paginator.Prev.URL }}"
              class="hover:bg-primary-600 hover:text-neutral mx-1 block min-w-[1.8rem] rounded text-center"
              rel="prev"
              >&larr;</a
            >
          </li>
        {{ end }}
        {{ range $.Paginator.Pagers }}
          {{ $right := sub .TotalPages .PageNumber }}
          {{ $showNumber := or (le .PageNumber 1) (eq $right 0) }}
          {{ $showNumber := or $showNumber (and (gt .PageNumber (sub $.Paginator.PageNumber 3)) (lt .PageNumber (add $.Paginator.PageNumber 3))) }}
          {{ if $showNumber }}
            {{ $.Scratch.Set "paginator.ellipsed" false }}
            {{ $.Scratch.Set "paginator.shouldEllipse" false }}
          {{ else }}
            {{ $.Scratch.Set "paginator.shouldEllipse" (not ($.Scratch.Get "paginator.ellipsed") ) }}
            {{ $.Scratch.Set "paginator.ellipsed" true }}
          {{ end }}
          {{ if $showNumber }}
            <li>
              <a
                href="{{ .URL }}"
                class="{{ if eq . $.Paginator }}
                  bg-primary-200 dark:bg-primary-400 dark:text-neutral-800
                {{ end }} hover:bg-primary-600 hover:text-neutral mx-1 block min-w-[1.8rem] rounded text-center"
                >{{ .PageNumber }}</a
              >
            </li>
          {{ else if ($.Scratch.Get "paginator.shouldEllipse") }}
            <li class="page-item ">
              <span class="page-link" aria-hidden="true">&hellip;</span>
            </li>
          {{ end }}
        {{ end }}
        {{ if $.Paginator.HasNext }}
          <li>
            <a
              href="{{ $.Paginator.Next.URL }}"
              class="hover:bg-primary-600 hover:text-neutral mx-1 block min-w-[1.8rem] rounded text-center"
              rel="next"
              >&rarr;</a
            >
          </li>
        {{ end }}
      </ul>
    {{ end }}
  </section>
{{ end }}
