<!-- <p>{{ printf "%#v" .Params.tags }}</p> -->
<article class="py-4 px-2">
  <div class="flex flex-row">
    <div class="flex-none pr-6">
      <a href="{{ .Params.externalUrl }}" target="_blank" rel="external">
        <img
          class="h-32 w-44 rounded-md object-cover"
          src="{{ .Params.imgUrl }}"
        />
      </a>
    </div>
    <div class="flex-auto">
      <h2 class="flex items-center">
        <a
          class="text-xl font-semibold text-neutral-700 hover:underline hover:underline-offset-2"
          href="{{ .Params.externalUrl }}"
          target="_blank"
          rel="external"
        >
          {{ .Title }}
        </a>
      </h2>
      <time class="flex text-sm text-neutral-400">
        {{ .Date | time.Format ":date_medium" }}
      </time>
      <div class="mt-1 flex">
        {{ range .Params.tags }}
          <span
            class="mr-2 rounded bg-gray-100 px-2.5 py-0.5 text-xs font-medium text-gray-800 dark:bg-gray-700 dark:text-gray-300"
            >{{ . }}</span
          >
        {{ end }}
      </div>
      <p class="prose py-1 text-sm line-clamp-3">
        {{ .Summary }}
      </p>
      <!-- <a href="{{ .Params.externalUrl }}" target="_blank" rel="external">{{ .Date.Format "2006-01-02" }} | {{ .Title }}</a> -->
    </div>
  </div>
</article>
