{{ $p := .Site.GetPage "/bookmarks/" }}
<div class="mx-auto flex max-w-5xl flex-col pt-20 sm:pt-24 lg:pt-32">
  <h1
    class="text-center text-4xl font-extrabold text-slate-900 sm:text-5xl lg:text-6xl"
  >
    Bookmark
  </h1>
  <p class="mx-auto mt-6 max-w-3xl text-center text-lg text-slate-600">
    A collection of all kinds of interesting websites
  </p>
  <div class="mt-6 mb-14 flex justify-center sm:mt-10">
    <a
      class="mr-2 mb-2 rounded-lg bg-gradient-to-br from-pink-500 to-orange-400 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-gradient-to-bl focus:outline-none focus:ring-4 focus:ring-pink-200 "
      href="{{ $p.Permalink }}"
      >Enter</a
    >
  </div>
  <div class="mt-14 flex justify-center border-t border-gray-200 ">
    <div class="rounded-lg bg-white p-4 md:p-8">
      <dl
        class="mx-auto grid max-w-screen-xl grid-cols-2 gap-8 p-4 text-gray-900  sm:grid-cols-3 sm:p-8"
      >
        <div class="flex flex-col items-center justify-center">
          <dt class="mb-2 text-3xl font-extrabold">
            {{ len .Site.RegularPages }}
          </dt>
          <dd class="font-light text-gray-500 ">Bookmarks</dd>
        </div>
        <div class="flex flex-col items-center justify-center">
          <dt class="mb-2 text-3xl font-extrabold">
            {{ len (index .Site.Taxonomies "tags") }}
          </dt>
          <dd class="font-light text-gray-500 ">Tags</dd>
        </div>
        <div class="flex flex-col items-center justify-center">
          <dt class="mb-2 text-3xl font-extrabold">
            {{ len (index .Site.Taxonomies "categories") }}
          </dt>
          <dd class="font-light text-gray-500 ">Categories</dd>
        </div>
      </dl>
    </div>
  </div>
</div>
