<div class="mx-auto max-w-5xl pt-20 sm:pt-24 lg:pt-32">
  <h1
    class="text-center text-4xl font-extrabold text-slate-900 sm:text-5xl lg:text-6xl"
  >
    Bookmarks
  </h1>
  <p class="mx-auto mt-6 max-w-3xl text-center text-lg text-slate-600">
    A collection of all kinds of interesting websites
  </p>
  <div class="mt-6 flex justify-center sm:mt-10">
    <a
      class="dark:highlight-white/20 flex h-12 w-full items-center justify-center rounded-lg bg-slate-900 px-6 font-semibold text-white hover:bg-slate-700 focus:outline-none focus:ring-2 focus:ring-slate-400 focus:ring-offset-2 focus:ring-offset-slate-50 dark:bg-sky-500 dark:hover:bg-sky-400 sm:w-auto"
      href="/bookmarks/"
      >Enter</a
    >
  </div>
</div>
